<%= form_with(model: interview, local: true, html: {style: "width: 100%;max-width: 330px;padding: 15px;margin: auto;"}) do |form| %>
  <% if interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% interview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date, class: "btn-lg btn-block" %>
    <%= form.date_select :date %>
  </div>
<br/>
  <div class="field">
    <%= form.label :time, class: "btn-lg btn-block" %>
    <%= form.time_select :time %>
  </div>
<br/>
  <div class="field">
    <%#= form.label :job_application_id %>
    <%= form.hidden_field :job_application_id, value: params[:job_application_id] %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Interview', class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
