<div class="alert alert-info alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= notice %>
</div>

<p>
  <strong>Date:</strong>
  <%= @interview.date.strftime("%B %d %Y") %>
</p>

<p>
  <strong>Time:</strong>
  <%= @interview.time.strftime("%I:%M%p")  %>
</p>

<p>
  <strong>Applicant Name:</strong>
  <%= @interview.job_application.candidate.name %>
</p>

<p>
  <strong>Job Title:</strong>
  <%= @interview.job_application.job.title %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
