<%= form_with(model: job, local: true, html: {style: "width: 100%;max-width: 330px;padding: 15px;margin: auto;"}) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "sr-only" %>
    <%= form.text_field :title, placeholder: "Job Title", class: "form-control" %>
  </div>
  <br/>
  <div class="field">
    <%= form.label :description, class: "sr-only" %>
    <%= form.text_area :description, cols: 35, rows: 7, placeholder: "Job Description", class: "form-control" %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit "Create Job", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
