<div class="alert alert-info alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= notice %>
</div>

<h1>Jobs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Job Poster</th>
      <th scope="col">Posted</th>
      <% if user_signed_in? %>
        <th scope="col">Status</th>
      <% end %>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= "#{job.user.first_name} #{job.user.last_name}" %></td>
        <td><%= "#{time_ago_in_words(job.updated_at)} ago" %></td>
        <% if user_signed_in? %>
          <td><%= job.approved? ? "approved" : "not approved" %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Approve', approve_job_path(job), class: "btn btn-success #{"disabled" if job.approved?}" %></td>
          <% end %>
          <td><%= link_to 'Show', job, class: "btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_job_path(job), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% else %>
          <td><%= link_to 'Apply', new_application_job_path(job), class: "btn btn-primary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && !current_user.admin? %>
  <%= link_to 'New Job', new_job_path, class: "btn btn-link" %>
<% end %>
