<% unless notice.blank? %>
  <div class="alert alert-info alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<% end %>

<h1>Job Applications</h1>

<%= form_tag(job_applications_path, method: "get", class: "row", style: "padding: 15px;margin: auto;") do %>

  <div class="field col-md-3">
    <%= select_tag 'status', options_for_select(JobApplication.statuses.map {|k, v| [k.humanize.capitalize, v]}), prompt: "Choose Status", class: "form-control" %>
  </div>
  <div class="field col-md-3">
    <%= select_tag 'response_status', options_for_select(JobApplication.response_statuses.map {|k, v| [k.humanize.capitalize, v]}), prompt: "Choose Response Status", class: "form-control" %>
  </div>
  <div class="field col-md-3">
    <%= select_tag 'job', options_from_collection_for_select(Job.where(job_applications: JobApplication.all), 'id', 'title'), prompt: "Choose Response Status", class: "form-control" %>
  </div>
  <div class="actions col-md-3">
    <%= submit_tag 'Filter', class: "btn btn-secondary btn-block" %>
  </div>
<% end %>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th>Candidate</th>
      <th>Candidate Email</th>
      <th>Job Title</th>
      <th>Status</th>
      <th>Response Status</th>
      <th>Reason for Rejection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= job_application.candidate.name %></td>
        <td><%= job_application.candidate.email %></td>
        <td><%= job_application.job.title %></td>
        <td><%= job_application.status&.humanize %></td>
        <td><%= job_application.response_status&.humanize %></td>
        <td><%= job_application.rejection_reason&.humanize %></td>
        <td><%= link_to 'Invite for Interview', new_interview_path(job_application_id: job_application), class: "btn btn-success #{"disabled" if job_application.invitation_sent?}" %></td>
        <!-- <td><%#= link_to 'Edit', edit_job_application_path(job_application) %></td>
        <td><%#= link_to 'Destroy', job_application, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Job Application', new_job_application_path %>
