<div class="alert alert-info alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= notice %>
</div>

<p>
  <strong>Candidate:</strong>
  <%= @job_application.candidate %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job_application.job %>
</p>

<%= link_to 'Edit', edit_job_application_path(@job_application) %> |
<%= link_to 'Back', job_applications_path %>
