<%= form_with(model: company, local: true, html: {style: "width: 100%;max-width: 330px;padding: 15px;margin: auto;"}) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br/>
  <div class="field">
    <%= form.label :name, class: "sr-only"  %>
    <%= form.text_field :name, placeholder: "Job Title", class: "form-control" %>
  </div>
<br/>
  <div class="actions">
    <%= form.submit "Create Company", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
