<!DOCTYPE html>
<html>
  <head>
    <title>Industryprime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="hmenu">
      <%= render 'users/menu/registration_items' %>
      <%= render 'users/menu/login_items' %>
      <%= render 'users/menu/navbar' %>
    </ul>
    <%= yield %>
  </body>
</html>
